
button{
  all: unset;
  cursor: pointer;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  color: var(--text-highlight);
  border: 1px solid var(--text-highlight);
  border-radius: 0.5rem;
}

.btn-primary{
  color: var(--surface-primary);
  background-color: var(--text-highlight);
  &:hover, &:focus{
    background-color: var(--brand-mid);
  }
}

.btn-secondary:hover{
  outline: 4px solid var(--surface-secondary);
}