.dropzone{
  border: 2px dashed var(--stroke-default);
  border-radius: 0.25rem;
  display: grid;
  justify-items: center;
  gap: 0.5rem;
  text-align: center;
  padding: 1.75rem 1rem;
  position: relative;

    
  }
.dropzone input{
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0;
  
}

.dropzone p{
  color: #A8A29E;

}
.dropzone img{
  width: 3rem;
  height: 3rem;
}

.dropzone:hover, .dropzone:has(input:focus){
  color: var(--text-tertiary);
  border: 2px dashed var(--stroke-highlight);
  background-color: var(--surface-secondary);
}

.dropzone:hover svg path, .dropzone:has(input:focus) svg path{
  stroke: var(--stroke-highlight);
}
