input, textarea, select {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--stroke-default);
  padding: 0.75rem 1rem;
  font: var(--text);
}

label{
  font: var(--text-sm);
  display: block;
  margin-bottom: 0.25rem;
}

input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within{
  border: 0.125rem solid var(--stroke-highlight);
  outline: 0.25rem solid var(--surface-secondary)
}

input[type=date]{
  position: relative;
  &::-webkit-calendar-picker-indicator{
    cursor: pointer;
    opacity: 0;
  }
  &::before{
    content: "";
    position: absolute;
    background: url(../../assets/interface-icons/calendar-03.svg) center/contain;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

select{
  background: url(../../assets/interface-icons/arrow-down-01.svg) no-repeat calc(100% - 1rem);
}

.adress > .flex{
  gap: 1.25rem;
}

.input-wrapper:has([disabled]){
  opacity: 50%;
}
input[disabled]{
  background-color: var(--surface-disabled);
  color: var(--text-primary);

}

input:invalid{
  border: 0.125rem solid var(--semantic-error);
}

input + small{
  font: var(--text-sm);
  color: #78716C;
  display: inline-block;
  margin-top: 0.25rem;

}

input[required]+ .error{
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font: var(--text-sm);
  margin-top: 0.25rem;
  color: var(--semantic-error);
}

input:not(:focus):valid + .error{
  display: none;
}

