@import url(fields/index.css);

form{
  margin-top: 3rem;
}

fieldset{
  border: none;
  display: grid;
  gap: 1.5rem;
}

fieldset + fieldset{
  margin-top: 3rem;
}

legend{
  font: 600 1rem/125% var(--poppins);
  color: var(--text-primary);
  margin-bottom: 1.5rem;
}

.actions-wrapper{
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}